fastapi
uvicorn[standard]
requests
beautifulsoup4
pymysql
sqlalchemy
pydantic
langchain
langchain-community
langchain-core
langchain-groq
# sentence-transformers
faiss-cpu
pdfminer.six
PyPDF2
nse-live-stocks
